<div class="w3-row">
    <div class="w3-col am-no-print" style="width: 36px;" title="{{r.dosage_id}}"><span
            class="w3-tiny w3-tag w3-grey">de</span></div>
    <div class="w3-col" style="width: 9em;">
        <a class="w3-hover-shadow am-0u" href="#!{{ctrl.singlePage.LinkUp('de','qy',r)}}">
            {{r.quantity_value}} {{r.quantity_code}}
            <span data-ng-if="!r.quantity_id">
                <пусто>
            </span>
        </a>
        <div class="w3-card w3-leftbar"
            data-ng-if="ctrl.singlePage.X_UrlId(ctrl.singlePage.TagPosition('qy'))==r.quantity_id">
            a1
        </div>
    </div>
    <div class="w3-col" style="width: 9em;">
        <a class="w3-hover-shadow am-0u" href="#!{{ctrl.singlePage.LinkUp('de','tg',r)}}">
            <span data-ng-if="r.timing_id">
                кожні {{r.period}}
            </span>
            {{r.periodunit}}
            <span data-ng-if="!r.timing_id">
                <пусто>
            </span>
        </a>
        <div class="w3-card w3-leftbar"
            data-ng-if="ctrl.singlePage.X_UrlId(ctrl.singlePage.TagPosition('tg'))==r.timing_id">
            a1
        </div>
    </div>
</div>