HELP.md
.gradle
build/
bin/
upload-dir5/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/static/f/cp001/.e.js.swp
src/main/resources/static/f/wf001/.wf001.js.swp
src/main/resources/static/f/c/11/sql_exe/.f.html.swp
src/main/resources/static/f/sql/01/.i.js.swp
src/main/java/org/algoritmed/amwf004/amdb/.AbstractDataNode.java.swp
src/main/java/org/algoritmed/amwf004/rest/.AbstractDataNodeRest.java.swp
src/main/resources/static/f/sql/02/.i.js.swp
src/main/resources/static/f/sql/03-tutorial/01-transclude/.i.html.swp
src/main/resources/static/f/sql/01/.lib.js.swp

src/main/resources/static/f/sql/01/.newDocMenu.html.swp
src/main/resources/static/f/sql/01/.sql.html.swp
src/main/resources/static/f/sql/03/.dev.js.swp
src/main/resources/static/f/sql/03/.lib.js.swp
src/main/resources/static/f/sql/03/.sql_app.tableOfFHIR.js.swp
src/main/resources/static/f/sql/03/.config-cp.js.swp
src/main/resources/static/f/sql/03/.config-cp.js.swo
src/main/resources/static/f/sql/03/resourceFHIR/addElDropDown copy.html
src/main/resources/static/f/archimate/ArchiMate-for-FHIR.archimate.xml
src/main/resources/static/f/archimate/FHIR-impl-II-002.archimate
src/main/resources/static/f/archimate/Motivation-Elements-004.archimate
src/main/resources/static/f/archimate/regulations-data-model.archimate.xml
src/main/resources/static/f/archimate/regulations-data-model.archimate.xml.bak
src/main/resources/static/f/archimate/SG-sOZ-002.archimate.xml
src/main/resources/static/f/archimate/green-sertificate.archimate.bak
src/main/resources/static/f/archimate/green-sertificate.archimate
src/main/resources/static/f/archimate/AlgoritmedFHIR-202104.archimate.xml
src/main/resources/static/f/archimate/html-AlgoritmedFHIR-202104
src/main/resources/static/f/archimateEd/PlantUML
src/main/resources/static/f/04usecp/.04usecp.js.swp
src/main/resources/static/f/04usecp/.physician.html.swp
src/main/resources/static/f/archimateEd/.aed.js.swp
src/main/resources/static/f/sql/03/*.swp
src/main/resources/static/f/sql/03/resourceFHIR/.addElDropDown.html.swp
src/main/resources/static/f/sql/03/MedicationRequest/.rsEd.html.swp
src/main/resources/static/f/sql/03/Ratio/.rsEd.html.swp
src/main/resources/static/f/sql/03/Dosage/.rsEd.html.swp
src/main/resources/static/f/tese/01/*.swp
src/main/resources/static/f/archimate/api.covid-briskin.json
src/main/resources/static/f/archimate/.api.covid-briskin.json.swp
src/main/resources/static/f/pws/01/.i.js.swp
src/main/resources/static/f/sql/04/.lib-init.js.swp
src/main/resources/static/f/pws/01/.hy.html.swp
src/main/resources/static/f/pws/01/.i.html.swp
src/main/resources/static/f/sql/04/.pd.js.swp
