HELP.md
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/static/f/cp001/.e.js.swp
src/main/resources/static/f/wf001/.wf001.js.swp
src/main/resources/static/f/c/11/sql_exe/.f.html.swp
src/main/resources/static/f/sql/01/.i.js.swp
src/main/java/org/algoritmed/amwf004/amdb/.AbstractDataNode.java.swp
src/main/java/org/algoritmed/amwf004/rest/.AbstractDataNodeRest.java.swp
src/main/resources/static/f/sql/02/.i.js.swp
src/main/resources/static/f/sql/03-tutorial/01-transclude/.i.html.swp
src/main/resources/static/f/sql/01/.lib.js.swp

src/main/resources/static/f/sql/01/.newDocMenu.html.swp
src/main/resources/static/f/sql/01/.sql.html.swp
