<!DOCTYPE html>
<html data-ng-controller="InitPageController as ctrl" lang="uk-UA">
<meta charset="utf-8" />
<title>jast002, modules</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css">

<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
<script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
<script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
<script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
<script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
<script src="/f/js/algoritmed.AngularJS.lib01.js"></script>
<script src="i.js"></script>

<body class="w3-container am-max-width-1">
    <div class="w3-border-bottom">
        <a href="/" class="w3-btn w3-border w3-padding-small w3-small">↑</a>
        <img src="/f/img/algoritmed-logo.webp" width="75px;" />
        <span class="am-b w3-small"> tableGrid</span>:
        <a
            href="/f/mdm/1/i.html#!/init_%7B%22tree%22:%7B%22l%22:%7B%22id%22:%5B373815,373753%5D,%22selectedId%22:373797,%22openIds%22:%5B374509,373720,373722,373753,373734,374547,373821,373750,373797%5D%7D,%22r%22:%7B%22id%22:%5B373737,369765%5D,%22selectedId%22:374545,%22openIds%22:%5B373737,374532,374535,374548,374553,374531,373738,374545%5D%7D%7D,%22selectedLR%22:%22r%22%7D">
            Редактор даних в онтологічному модулі.
        </a>
    </div>
    <div class="w3-row">
        <div class="w3-twothird">
            -- складний заголовок --
            <table>
                <thead>
                    <tr>
                        <th data-ng-attr-rowspan="{{col.rowspan}}" data-ng-attr-colspan="{{col.colspan}}"
                            data-ng-repeat="col in ctrl.conf.tableGrid.thead[0]" class="w3-border">
                            {{col.text}}
                        </th>
                    </tr>
                    <tr>
                        <th data-ng-repeat="col in ctrl.conf.tableGrid.thead[1]" class="w3-border">
                            {{col.text}}
                        </th>
                    </tr>
                </thead>
            </table>
            -- складний заголовок END--
            <table>
                <thead>
                    <tr>
                        <th data-ng-repeat="col in ctrl.conf.tableGrid.tableColumn" class="w3-border">
                            {{col.columnname}}
                            {{col.rcolumnname?'↸':''}}
                            {{col.rcolumnname}}
                        </th>
                    </tr>
                </thead>
            </table>
            -- test --
            <table>
                <thead>
                    <tr>
                        <th rowspan="2" colspan="1" class="w3-border">a1</th>
                        <th colspan="2" class="w3-border">a23</th>
                    </tr>
                    <tr>
                        <th>b2</th>
                        <th>b3</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="w3-third">
            conf.tableGrid.thead
            <pre class="w3-small w3-border">
{{ctrl.stringifyJSON(ctrl.conf.tableGrid.thead)}}
            </pre>
            conf.tableGrid.groupColumn
            <pre class="w3-small w3-border">
{{ctrl.stringifyJSON(ctrl.conf.tableGrid.groupColumn)}}
            </pre>
        </div>
    </div>
</body>

</html>