<!DOCTYPE html>
<html lang="uk-UA" data-ng-controller="InitPageController as cr">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/f/css/w3.css">
    <link rel="stylesheet" href="/f/css/am.css">

    <script src="/webjars/angular/1.8.3/angular.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
    <script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
    <!--
    <script src="/f/kassa2r/lib-init.js" type="application/javascript"></script>
    <script src="/f/tese/01/lib.sql002.js" type="application/javascript"></script>
    <script src="/f/tese/02/config.sql.js" type="application/javascript"></script>
-->

    <script src="/f/js/algoritmed.AngularJS.lib01.js"></script>
    <script src="i.js" type="application/javascript"></script>
</head>

<body class="w3-container">
    <div class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <img src="/f/img/algoritmed-logo.webp" width="75px;" />
        FHIR Conceptualization
    </div>
    <div class="w3-row">
        <div class="w3-quarter">
            <div class="w3-small am-b">
                <span class="am-n"> {{cr.pl.session.DomainResource.length}} </span>
                {{cr.pl.getSqlApp('DomainResource01').name}}
            </div>
            <div class="w3-hover-shadow" data-ng-repeat="item in cr.pl.session.DomainResource ">
                <span class="w3-tiny">{{item.doc_id}}</span>
                {{item.value}}
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-small am-b">
                <span class="am-n"> {{cr.pl.session.BackboneElement.length}} </span>
                {{cr.pl.getSqlApp('BackboneElement01').name}}
            </div>
            <div class="w3-hover-shadow" data-ng-repeat="item in cr.pl.session.BackboneElement ">
                <span class="w3-tiny">{{item.doc_id}}</span>
                {{item.ps}}.{{item.v}}
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-small am-b">
                <span class="am-n"> {{cr.pl.session.BackboneElement02.length}} </span>
                {{cr.pl.getSqlApp('BackboneElement02').name}}
            </div>
            <div class="w3-hover-shadow" data-ng-repeat="item in cr.pl.session.BackboneElement02 ">
                <span class="w3-tiny">{{item.doc_id}}</span>
                {{item.ps}}.{{item.v}}
            </div>
        </div>
        <div class="w3-quarter">q4</div>
    </div>
</body>

</html>