<div data-ng-repeat="a in ctrl.eMap[ctrl.request.parameters.id].children" data-ng-if="368789 == a.reference">
    <!--activity-->
    <div data-ng-class="{'w3-border':ctrl.programControl.selectedParentEl.doc_id==a.doc_id}"
        class="w3-hover-shadow w3-border-bottom" data-ng-click="ctrl.programControl.clickSelect(a)">
        activity
        {{a.doc_id}}

    </div>
    <div class="w3-hover-shadow" data-ng-repeat="mr in a.children"
        data-ng-class="{'w3-leftbar w3-border':ctrl.programControl.selectedParentEl.doc_id==mr.doc_id}"
        data-ng-click="ctrl.programControl.clickSelect(mr)">
        <span class="w3-tiny" title="mr.r2:{{mr.reference2}}
        "> {{mr.doc_id}} </span>
        <span data-ng-repeat="m in ctrl.eMap[mr.reference2].children" data-ng-if="371469 == m.reference">
            {{m.doc_id}}
            {{m.reference2}}
            {{ctrl.eMap[m.reference2].value_1_22}}
        </span>
    </div>
</div>