<!DOCTYPE html>
<html lang="uk-UA" data-ng-controller="InitPageController as ctrl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>e3cp-{{ctrl.singlePage.Url().substr(1)}}</title>
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/f/css/w3.css" type="text/css">
    <link rel="stylesheet" href="/f/css/am.css" type="text/css">
    <link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
    <script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
    <script src="04usecp.js" type="application/javascript"></script>
</head>

<body>
    <div class="w3-container am-max-width-1">
        <a href="/" class="w3-btn w3-border w3-padding-small w3-tiny am-b w3-round">↑</a>
        Hi 04usecp
    </div>
    <div class="w3-container ">
        -- {{ctrl.conf.fr.cp.docbody.fhir_domainresource}}
        <div class="w3-container w3-border-left">
            <div class="" data-ng-repeat="(k,v) in ctrl.conf.fr.cp.docbody.children">
                <div class="" data-ng-repeat="r in v" data-ng-if="r.parent_careplan">
                    <span class="w3-tiny w3-grey">
                        {{k}}-{{r[ctrl.conf.fr[k].frn.toLowerCase()+'_id']}} </span>&nbsp;
                    <span data-am:rs:row data-tag="{{k}}"></span>
                    <div class="w3-container w3-border-left">
                        <div class="" data-ng-repeat="(k1,v1) in ctrl.conf.fr[k].sql_app_children001">
                            <div class="" data-ng-repeat="r in ctrl.conf.fr.cp.docbody.children[k1]"
                                d11ata-ng-if="r.parent_careplan">
                                <span class="w3-tiny w3-grey">
                                    {{k1}}-{{r[ctrl.conf.fr[k].sql_app_children001[k1].id_name]}}
                                    {{ctrl.conf.fr[k].sql_app_children001[k1].id_name.split('_')[0]}}
                                </span>&nbsp;
                                <span class="w3-tiny am-b">Вимірювання:</span>
                                <span title="{{r.display}}"> {{r.code}} </span>
                                {{r.duration_s}} {{r.unit}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>