<div class="w3-small w3-light-grey">
    Історія ⁙ епізод > взаємодія >
</div>
<div>
    <div data-ng-repeat="e in ctrl.conf.episodes">
        <span class="w3-small">
            {{e.tsps_v | date : 'mediumDate'}}, {{e.tsps_v | date : 'shortTime'}}
        </span>
        <div data-ng-repeat="er in ctrl.conf.encounters">
            <span class="w3-small">
                {{e.tsps_v | date : 'shortTime'}}. {{er.tsps_v | date : 'EEE, d'}}
            </span>
            {{er.code}}: {{er.i18n}}
        </div>
    </div>
</div>