<div class="w3-small w3-light-grey">
	Історія ⁙
	<span data-ng-class="{'w3-green':ctrl.conf.clickedElement.episode_id}">епізод</span>
	>
	<span data-ng-class="{'w3-green':ctrl.conf.clickedElement.encounter_id}">взаємодія</span>
	>
</div>

<div>
	<div data-ng-repeat="e in ctrl.conf.episode">
		<span class="w3-small w3-hover-shadow" data-ng-click="ctrl.clicEpisode(e)"
			data-ng-class="{'w3-green':ctrl.conf.clickedElement.episode_id==e.episode_id}">
			{{e.tsps_v | date : 'mediumDate'}}, {{e.tsps_v | date : 'shortTime'}}
		</span>
		<span class="w3-tiny am-i"> {{e.dmtitle}} </span>
		<div class="w3-container w3-border-left">
			<div data-ng-repeat="er in ctrl.conf.encounter" data-ng-if="e.episode_id==er.episodeofcare_r2">

				<span title="{{er.encounter_id}}" class="am-u w3-small w3-hover-shadow"
					data-ng-click="ctrl.clicEncounter(er)"
					data-ng-class="{'w3-green':ctrl.conf.clickedElement.encounter_id==er.encounter_id}">
					{{er.tsps_v | date : 'shortTime'}}{{er.tsps_v | date : ' EEE, d'}}</span>

				<span data-emrid="{{er.reason_id}}" data-p="2" data-am:emr:link>{{er.reason_code}}:
					{{er.reason_i18n}}</span>

				<div class="w3-container w3-border-left " data-ng-if="er.dgcondition_id"
					data-ng-click="ctrl.clicDiagnose(er)">
					<span class="w3-small am-b">Дз:</span>

					<span data-emrid="{{er.dgcondition_id}}" data-p="2" data-am:emr:link>{{er.dgcondition_code}}:
						{{er.dgcondition_i18n}}</span>
				</div>
				<div data-ng-repeat="mr in ctrl.conf.mrEncounter" data-ng-if="mr.mrencounter_r2==er.encounter_id">
					<span class="w3-tiny am-b">призначено:</span>
					<span data-emrid="{{mr.mrencounter_id}}" data-p="2" data-am:emr:link>
						{{mr.substance_code}}
						{{mr.n_quantity_value}}
						{{mr.n_quantity_code}}
						{{mr.dn_quantity_value}}
						{{mr.dn_quantity_code}}
					</span>
					<span data-ng-repeat="rx in ctrl.conf.recept" data-ng-if="rx.mr_emr_id==mr.mr_emr_id">
						<span title="{{rx.recept_id}}"
							class="am-rx w3-border w3-border-green w3-hover-shadow">R<span>x</span>&nbsp;.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>