<!DOCTYPE html>
<html lang="uk-UA" data-ng-controller="InitPageController as ctrl">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/f/css/w3.css">
    <link rel="stylesheet" href="/f/css/am.css">
    <link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
    <script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
    <script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
    <script src="/f/sql/04/lib-init.js" type="application/javascript"></script>
    <script src="/f/tese/01/lib.sql002.js" type="application/javascript"></script>
    <script src="/f/tese/01/config.sql.js" type="application/javascript"></script>
    <script src="i.js" type="application/javascript"></script>
</head>

<body class="w3-container" data-ng-keydown="[27].includes($event.keyCode) && ctrl.keyDownEsc()">
    <div class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border w3-padding-small w3-small">↑</a>
        <span class="w3-small am-b">Робочий кабінет лікаря</span>&nbsp;⁙
        <span class="w13-small" data-ng-repeat="(k,v) in ctrl.conf.pws.topMenu">
            <a href="#!/{{k}}" class="w3-hover-shadow"
                data-ng-class="{'w3-green':ctrl.singlePage.UrlList()[1].includes(k)}">
                {{v}}</a>
            >
        </span>
        <div class="w3-border-bottom" style="height:90vh; overflow:auto;">
            <span class="w3-small am-b">Пацієнт</span>:
            <span class="am-u1 am-i">
                <span data-ng-if="ctrl.conf.patient">
                    {{ctrl.conf.patient[0].name_v}},
                    {{ctrl.conf.patient[0].family_v}}
                </span>
                {{ctrl.conf.patient?'':"<Ім'я Пацієнта>"}}
            </span>

            <div class="am-max-width-1" data-ng-view></div>
            <p></p>

            <div class="w3-card w3-topbar">
                <div class="w3-light-gray w3-container">
                    <span class="w3-tiny am-b">
                        Ведення <span title="Електроних медичних записів" class="am-u">ЕМЗ</span>:
                    </span>
                </div>
                <span class="w3-tiny am-b">план/сценарій</span>
                <div data-ng-repeat="pd in ctrl.conf.plandefinition">
                    <a href="#!{{ctrl.singlePage.UrlOnOff('pd_'+pd.pd_id,3)}}" class="am-0u">
                        <div class="w3-hover-shadow"> {{pd.pd_name}}
                            <span class="w3-tiny">{{pd.tr_name}}</span>
                        </div>
                    </a>
                    <div class="w3-container w3-border-left" data-ng-if="pd.pd_id==ctrl.singlePage.UrlMap()['pd']">
                        <span class="w3-tiny am-b">аction</span>
                        <div data-ng-repeat="pda in ctrl.conf.pd_action" data-ng-if="pd.pd_id==pda.pd_id">
                            <a href="#!{{ctrl.singlePage.UrlOnOff('pda_'+pda.title_id,4)}}" class="am-0u">
                                <div class="w3-hover-shadow">
                                    <span class="w3-tiny" data-ng-class="{'w3-border-top w3-leftbar'
                                        :ctrl.singlePage.UrlMap()['pda']==pda.title_id}">
                                        {{pda.title_id}} &nbsp;</span>
                                    {{pda.action_title}}
                                </div>
                            </a>
                            <div data-ng-if="ctrl.singlePage.UrlMap()['pda']==pda.title_id" class="w3-card w3-leftbar">
                                <button data-ng-click="ctrl.save_pd_action()" class="w3-btn w3-padding-small w3-card"
                                    title="save">зберігати</button>
                                <div data-ng-repeat="anad in ctrl.conf.pd_action_ad"
                                    data-ng-if="anad.parent==pda.title_id">
                                    <div class="w3-right w3-tiny"><span class="w3-tiny am-b"> {{anad.ad_title}} </span>
                                    </div>
                                    {{anad.ad_name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Hi PWS! -
    <a href="https://cloford.com/resources/charcodes/utf-8_punctuation.htm">
        ⁂⁋⁝⁞⁚⁙⁜⁕
    </a>
</body>