<div data-ng-repeat="sk in [ctrl.eMap[ctrl.eMap[ctrl.sql_exe.sql_id].ref_to_col[371682]].r2value 
	||	ctrl.contains_child_type(ctrl.eMap[ctrl.sql_exe.rs2_id], 371682).r2value]">
	<table>
		<thead class="w3-tiny w3-light-gray">
			<tr>
				<th data-ng-repeat="(k,v) in tab[0]">{{k}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="row in tab">
				<td data-ng-repeat="(k,v) in row" data-ng-switch="k">
					<a data-ng-switch-when="parent"
						href="/f/c/11/eh004.html?doc2doc={{v}},{{ctrl.request.parameters.doc2doc.split(',')[1]}}"> {{v}}
					</a>
					<div ng-bind-html="ctrl.highlight(v, sk)" ng-switch-default></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>