<!DOCTYPE html>
<html lang="uk-UA" data-ng-controller="InitPageController as ctrl">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
    <!--link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.min.css"-->
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/f/css/w3.css">
    <link rel="stylesheet" href="/f/css/am.css">

    <script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
    <script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
    <script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>

    <script src="/f/kassa2r/lib-init.js" type="application/javascript"></script>
    <script src="/f/tese/01/lib.sql002.js" type="application/javascript"></script>
    <script src="/f/tese/02/config.sql.js" type="application/javascript"></script>
    <script src="i.js" type="application/javascript"></script>
</head>

<body class="w3-container">
    <div class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border w3-padding-small w3-small">↑</a>
        <img src="/f/img/algoritmed-logo.webp" width="75px;" />
        
        <span class="w3-dropdown-hover">
            <a class="w3-btn w3-padding-small w3-border w3-small" href="#!/tree">
                <i class="fas fa-project-diagram"></i>
            </a>
            <div class="w3-dropdown-content w3-leftbar w3-border w3-container">
                <div>
                    <div class="w3-hover-shadow" data-ng-click="menu_tree=menu_tree=='leftViewType'?'':'leftViewType'">
                        тип: <span class="w3-leftbar w3-container" data-ng-if="menu_tree=='leftViewType'">|
                            <span class="w3-hover-shadow" data-ng-repeat="t in ['nrValType','objKeyVal'] ">
                                {{t}}|
                            </span>
                        </span>
                    </div>
                </div>
                <p class="w3-hover-shadow">
                    a2
                </p>
                <a class="w3-tiny"
                    href="#!/tree_{{ctrl.singlePage.session.tree.l.id.join('_')}},{{ctrl.singlePage.session.tree.r.id.join('_')}}">
                    tree_{{ctrl.singlePage.session.tree.l.id.join('_')}},{{ctrl.singlePage.session.tree.r.id.join('_')}}
                </a>
            </div>
        </span>
        <a class="w3-btn w3-padding-small w3-border w3-small" href="#!/sql_SelectADN">
            <i class="fas fa-database"></i>
        </a>
        <a class="w3-btn w3-padding-small w3-border w3-small" href="#!/init_{{ctrl.initSession()}}">
            <i class="fas fa-redo"></i>
        </a>
        &nbsp;⁙
        <span class="w3-small"> <span class="am-b"> M&D-M </span> <sub>MCrDB</sub> </span>
        <span class="w3-right">
            <span class="w3-opacity w3-tiny am-b"> meta-data&data modeler <sub>v.01
                    (<a href="/f/c/11/eh004.html?doc2doc={{ctrl.singlePage.session.tree.l.
                    id[0]}},{{ctrl.singlePage.session.tree.r.id[0]}}" target="_blank">ontology</a>-?✍<a
                        href="/f/kassa3r/r2tab.html#!/sql_FHIRs_Group">SQL</a>&nbsp;editor)</sub>
            </span>
            <i class="fas fa-sign-in-alt"></i>
            </a>
        </span>
    </div>
    <div class="w3-border-bottom am-max-width-1 am-inner-scroll">
        <span class="w3-small">Моделювання даних і їх структур з кодом автоматичного SQL</span>
        <span class="w3-small"> {{ctrl.date | date:'medium'}} </span>
        <div class="ng-view"></div>
    </div>
</body>

</html>
