| <a href="#!docTree/{{d.conf.read_doc_id}}">docTree</a>
->
<a
class="w3-tiny am-b"
href="/f/c/11/eh004.html?doc2doc={{ctrl.singlePage.LastUrl()}},{{ctrl.singlePage.LastUrl()}}">
    meta-data-editor v.03 (ontology)
    {{ctrl.singlePage.LastUrl()}}
</a>
<div data-ng-repeat="id in [d.conf.read_doc_id]" data-ng-include="'el.html'"></div>
<div data-ng-repeat="id in d.clList[d.conf.read_doc_id]" class="w3-container">
    <div data-ng-include="'el.html'"></div>
    <div data-ng-repeat="id in d.clList[id]" class="w3-container">
        <div data-ng-include="'el.html'"></div>
    </div>
</div>
