<div>
    <div class="w3-dropdown-hover">
        <button class="w3-btn w3-padding-small w3-white">
            <span class="w3-small">readSql {{simpleSQLselect}}:</span>
            <span class="am-b w3-small">{{simpleSQLs[simpleSQLselect].n}}</span>
        </button>
        <div class="w3-dropdown-content w3-card" style="width: 600px;">
            <pre data-ng-repeat="sql in simpleSQLs" class="w3-hover-shadow  w3-small" data-ng-click="readSql($index)">
<strong>{{sql.n}}</strong>: {{sql.c}}
            </pre>
        </div>
    </div>
    <div style="height:88vh; overflow:auto;" class="w3-border">
        <table>
            <thead class="w3-blue-gray w3-small">
                <tr>
                    <th data-ng-repeat="(k,v) in data.list[0]"> {{k}} </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="r in data.list" class="w3-hover-shadow">
                    <td data-ng-repeat="(k,v) in data.list[0]"  data-am-sql-html>{{r[k]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>