<span class="w3-small">
    <i class="fas fa-puzzle-piece"></i>
    <button class="w3-btn w3-padding-small w3-border" data-ng-click="ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog 
        = ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog == (ctrl.singlePage.LastUrlTag() + '_plus')
        ?'':ctrl.singlePage.LastUrlTag() + '_plus' "
        d11ata-ng-click="ctrl.conf.NewEl.openDialog(ctrl.singlePage.LastUrlTag())"
        title="Створити новий елемент: {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}">
        <i class="fas fa-plus"></i>
    </button>
    <button class="w3-btn w3-padding-small w3-border" data-ng-click="ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog 
        = ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog == (ctrl.singlePage.LastUrlTag() + '_wrench')
        ?'':ctrl.singlePage.LastUrlTag() + '_wrench' "
        d11ata-ng-click="ctrl.conf.NewEl.openDialog(ctrl.singlePage.LastUrlTag())"
        title="Створити новий елемент: {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}">
        <i class="fas fa-wrench"></i>
    </button>
</span>

<div class="w3-card w3-leftbar"
    data-ng-if="ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog.includes(ctrl.singlePage.LastUrlTag()+'_')"
    data-ng-class="{'w3-show':ctrl.conf.NewEl.openedDialog==ctrl.singlePage.LastUrlTag()}">
    <div class="w3-blue-gray w3-tiny am-b">
        <i
            class="w3-medium w3-border fas fa-{{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog.split('_')[1]}}"></i>
        &nbsp;
        Створити новий елемент:
        {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}
        <a href="" class="w3-right w3-btn w3-padding-small"
            data-ng-click="ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].openDialog = ''"><i
                class="far fa-window-close"></i></a>
    </div>
    <div class="w3-border-bottom" data-am:rs:row data-inner:html="NewEl.amRsRowHtml"></div>
    <div data-ng-if="!ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].NewEl 
            || ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].NewEl.newElName">
        Назва елементу:
        <textarea data-ng-model="ctrl.conf.NewEl.newElName" class="w3-border am-width-100pr w3-medium"></textarea>
    </div>
    <button class="w3-btn w3-border" data-ng-click="ctrl.editFRF.newEl_save()">save</button>
</div>