<div data-ng-repeat="d in [ctrl.conf.fr[ctrl.singlePage.LastUrlTag()]]">
    <span class="w3-small">
        <i class="fas fa-puzzle-piece"></i>
        <button class="w3-btn w3-padding-small w3-border"
            data-ng-class="{'w3-green':'plus'==ctrl.conf.openDialogCUD.split('_')[1]}"
            data-ng-click="ctrl.conf.exe.openDialogCUD('plus')"
            title="Створити новий елемент: {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}">
            <i class="fas fa-plus"></i>
        </button>
        <button class="w3-btn w3-padding-small w3-border"
            data-ng-class="{'w3-green':'wrench'==ctrl.conf.openDialogCUD.split('_')[1]}"
            data-ng-click="ctrl.conf.exe.openDialogCUD('wrench')"
            title="Редагувати елемент: {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}">
            <i class="fas fa-wrench"></i>
        </button>
        <button class="w3-btn w3-padding-small w3-border"
            data-ng-class="{'w3-green':'minus'==ctrl.conf.openDialogCUD.split('_')[1]}"
            data-ng-click="ctrl.conf.exe.openDialogCUD('minus')"
            title="Вилучити елемент: {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}">
            <i class=" fas fa-minus"></i>
        </button>
        <button class="w3-btn w3-padding-small w3-border">
            <i class="fas fa-search"></i>
        </button>
    </span>
    <div class="w3-card w3-leftbar" data-ng-if="ctrl.conf.openDialogCUD.includes(ctrl.singlePage.LastUrlTag()+'_')">
        <div class="w3-blue-gray w3-tiny am-b">
            <i class="w3-medium w3-border w3-green fas fa-{{ctrl.conf.openDialogCUD.split('_')[1]}}"></i>
            &nbsp;
            {{ctrl.conf.vs.edEl[ctrl.conf.openDialogCUD.split('_')[1]]}}
            елемент:
            {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}
            <a href="" class="w3-right w3-btn w3-padding-small" data-ng-click="ctrl.conf.openDialogCUD = ''"><i
                    class="far fa-window-close"></i></a>
        </div>
        <div ng-switch="ctrl.conf.openDialogCUD.split('_')[1]">
            <div ng-switch-when="wrench">
                Редакція ресурса, якщо він незадіяний в використанні і якщо це можливо.
            </div>
            <div ng-switch-when="minus">
                Пошук протипоказів до вилучення Елементу: {{ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].frn}}
                <div>
                    <button class="w3-btn w3-border w3-padding-small" data-ng-click="ctrl.editFRFactory.deleteEl()">
                        <i class=" fas fa-minus"></i>
                        Видалити</button>
                    <a href="" class="w3-btn w3-border w3-padding-small"
                        data-ng-click="ctrl.conf.openDialogCUD = ''">cances</a>
                </div>
            </div>
            <div ng-switch-when="matchValue2">...</div>
            <div ng-switch-default>
                <div class="w3-border-bottom" data-am:rs:row data-inner:html="NewEl.amRsRowHtml"></div>
                <div data-ng-if="(!ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].NewEl && ctrl.singlePage.LastUrlTag().length==2)
                        || ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].NewEl.newElName">
                    Назва елементу:
                    <textarea data-ng-model="ctrl.conf.exe.NewEl.newElName"
                        class="w3-border am-width-100pr w3-medium"></textarea>
                </div>
                <div data-ng-if="d.edTemplate" data-ng-include="'/f/sql/03/'+d.frn+'/'+d.edTemplate+'.html'"></div>
                <div data-ng-repeat="d in [ctrl.conf.fr[d.fr]]"
                    data-ng-include="'/f/sql/03/'+d.frn+'/'+d.edTemplate+'.html'">
                </div>
                <button class="w3-btn w3-border w3-padding-small" data-n11g-click="ctrl.editFRFactory.newEl_save()"
                    data-ng-click="ctrl.editFRFactory['save_'+ctrl.conf.openDialogCUD.split('_')[1]]()">save</button>
                <a href="" class="w3-btn w3-border w3-padding-small"
                    data-ng-click="ctrl.conf.openDialogCUD = ''">cances</a>
            </div>
        </div>
    </div>
</div>
