<!DOCTYPE html>
<html lang="uk-UA">
<meta charset="utf-8" />
<link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
<script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
<script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
<script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
<script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
<script src="lib-init.js" type="application/javascript"></script>
<script src="/f/tese/01/lib.sql002.js" type="application/javascript"></script>
<script src="/f/kassa2r/config.sql.js" type="application/javascript"></script>
<script src="i.js" type="application/javascript"> </script>

<body>
    <div class="w3-container am-max-width-1">
        <div class="w3-border-bottom">
            <a href="/" class="w3-btn w3-border w3-padding-small w3-small">↑</a>
            <span class="w3-small am-b">Каса експеремент 2r</span>&nbsp;⁙
        </div>
        <div class="w3-border-bottom" style="height:92vh; overflow:auto;">
            <div data-ng-controller="myCtrl as ctrl">
                <div class="w3-border w3-container" style="margin-top: 5px;">
                    <div>
                        <span class="w3-small am-b"> Организация: </span>
                        <input class="w3-border" type="text" data-ng-model="ctrl.formData.global.firstName">
                    </div>
                    <div>
                        <span class="w3-small am-b"> Оператор: </span>
                        <input class="w3-border" type="text" data-ng-model="ctrl.formData.global.lastName">
                    </div>
                    <span class="w3-small am-b"> Період: </span>
                    <input class="w3-border" type="date" data-ng-model="ctrl.formData.seek.StartDateProv"> -
                    <input class="w3-border" type="date" data-ng-model="ctrl.formData.seek.FinishDateProv">

                </div>
                <div>
                    <button style="width: 200px;" class="w3-btn w3-padding-small w3-grey w3-round am-no-print"
                        data-ng-click="ctrl.OK_button_Pr()">Приход</button>
                    <button style="width: 200px;" class="w3-btn w3-padding-small w3-grey w3-round am-no-print"
                        data-ng-click="ctrl.OK_button_Rasx()">Расход</button>

                </div>
                <!-- <div class="am-max-width-1" data-ng-view></div> -->
                <div class="w3-col am-no-print" style="width:600px" data-ng-include="ctrl.formData.global.n2"> </div>
                <div class="w3-rest w3-container w3-border-left" data-ng-include="ctrl.formData.global.n1"> </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>