<table>
    <tbody>

        <td> <button class="w3-btn w3-grey" data-ng-click="ctrl.Perechet()">Пересчитать
            </button>
        </td>
        <td> <button class="w3-btn w3-grey" data-ng-click="ctrl.DeleteKassa()">Удалить
                проводку
            </button>
        </td>
    </tbody>
</table>

<span class="w3-small am-b"> Створення проводки</span>
<table class="w3-light-gray w3-card">
    <tbody>
        <tr>
            <td>Дата проводки </td>
            <td><input type="date" data-ng-model="ctrl.formData.entry.NewDateProv"> </td>
        </tr>
        <tr>
            <td>Сумма </td>
            <td><input type="number" data-ng-model="ctrl.formData.entry.myNumb"> </td>
        </tr>

        <tr>
            <td>Валюта</td>
            <td>
                <input type="radio" data-ng-model="ctrl.formData.entry.Val" id="nl1" value="грн">
                <label for="nl1">Грн</label>
                <input type="radio" data-ng-model="ctrl.formData.entry.Val" id="bn1" value="$$">
                <label for="bn1">$$</label> 

            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="radio" data-ng-model="ctrl.formData.entry.Nal" id="nl" value="0">
                <label for="nl">Нал</label>
                <input type="radio" data-ng-model="ctrl.formData.entry.Nal" id="bn" value="1">
                <label for="bn">БезНал</label>
            </td>

        </tr>
        <tr>
            <td>Контрагент </td>
            <td>
                <select data-ng-model="ctrl.formData.entry.selectedItem">
                    <option data-ng-repeat="be in ctrl.bloodgroup.list"
                        value="{{be.namecontr}}">
                        {{be.namecontr}}
                    </option>
                </select>

            </td>
        </tr>
        <tr>
            <td>Кассовая операция  </td>

            <td>
                <select data-ng-model="ctrl.formData.entry.kassop">
                    <option data-ng-repeat="ko in ctrl.listop.list"
                        value="{{ko.namekassop}}">
                        {{ko.namekassop}}
                    </option>
                </select>

            </td>

        </tr>


        <tr>
            <td> <button class="w3-btn w3-grey" data-ng-click="ctrl.AddKassa()">Создать
                    проводку
                </button>
            </td>
        </tr>
    </tbody>
</table>




<span class="w3-small am-b"> Пошук</span>
<table class="w3-light-gray w3-card">
    <tbody>
        <tr>
            <td>
                <input class="w3-border" data-ng-model="ctrl.formData.seek.SeekLName"
                    data-ng-focus="ctrl.viewList=!ctrl.viewList"
                    data-ng-keydown="[13].includes($event.keyCode) && ctrl.click_spcontragent_seek()">

                <div data-ng-if="ctrl.viewList" class="w3-leftbar w3-card">
                    <div data-ng-repeat="d in ctrl.dataSeek.list" class="w3-hover-shadow">
                        {{d.namecontr}}
                    </div>
                </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>