<span class="w3-small am-b"> Створення проводки</span>
<table class="w3-light-gray w3-card">
    <tbody>
        <tr>
            <td>Дата проводки </td>
            <td><input type="date" data-ng-model="ctrl.formData.posting.d3"> </td>
        </tr>
        <tr>
            <td>Сумма </td>
            <td><input type="number" data-ng-model="ctrl.formData.posting.myNumb"> </td>
        </tr>

        <tr>
            <td>Валюта</td>
            <td>
                <input type="radio" data-ng-model="ctrl.formData.posting.Val" id="nl1" value="Грн">
                <label for="nl1">Грн</label>
                <input type="radio" data-ng-model="ctrl.formData.posting.Val" id="bn1" value="$$">
                <label for="bn1">$$</label>{{ctrl.formData.Val}}

            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="radio" data-ng-model="ctrl.formData.posting.Nal" id="nl" value="0">
                <label for="nl">Нал</label>
                <input type="radio" data-ng-model="ctrl.formData.posting.Nal" id="bn" value="1">
                <label for="bn">БезНал</label>
            </td>

        </tr>
        <tr>
            <td>Контрагент {{LName}} </td>
            <td> <input type="text" data-ng-model="ctrl.formData.posting.LName"> </td>
        </tr>
        <tr>
            <td>Кассовая операция</td>
            <td> <input type="text" data-ng-model="ctrl.formData.posting.KassOp"> </td>
        </tr>
        <tr>
            <td> <button class="w3-btn w3-grey" data-ng-click="ctrl.AddKassa()">Создать
                    проводку
                </button>
            </td>
            <td> <button class="w3-btn w3-grey" data-ng-click="ctrl.DeleteKassa()">Удалить
                    проводку
                </button>
            </td>
        </tr>

        <tr>
            <td>Всього проводок</td>
            <td> {{ctrl.formData.posting.Vrec}} 
            </td>

        </tr>
        <tr>
            <td>Загальна сума </td>
            <td> {{ctrl.formData.posting.Vsum}} </td>

        </tr>
        <td> <button class="w3-btn w3-grey" data-ng-click="ctrl.Perechet()">Пересчитать
            </button>
        </td>
    </tbody>
</table>