<table>
    <thead class="w3-tiny am-b">
        <tr>
            <th></th>
            <th>"№№" </th>
            <th>Дата </th>
            <th>Сумма </th>
            <th>Касова оп. </th>
            <th>Контрагент </th>
            <th>Валюта </td>
            <th>Нал/БезНал </th>

        </tr>
    </thead>
    <tbody class="w13-small">
        <tr class="w3-hover-shadow" data-ng-repeat="(k,r) in data.list"
            data-ng-class="{'w3-red':ctrl.selectedRow.idnom==r.idnom}" data-ng-click="ctrl.selectRow(r)">
            <td>{{k}}

            </td>
            <td data-ng-repeat="(k,v) in r" class="w3-border" data-am-sql-html>
                {{v}}
            </td>
        </tr>
    </tbody>
</table>