--
<div class="w3-card ">
    <div class="w3-light-gray w3-container">
        <span class="w3-tiny am-b">ResourceFHIR: </span>
        <span class="w3-tiny w3-border-top w3-border-amber"> {{ctrl.singlePageUrl()}}</span>
        <span data-ng-if="ctrl.singlePageUrl().split('/').length <= 3">
            <span class="w3-hover-shadow"><i title="_>." class="fas fa-ellipsis-v"></i>
                ></span>
            <span data-ng-repeat="cr in ctrl.conf.fr[ctrl.singlePage.LastUrlTag()].children" class="w3-small">
                <a href="#!{{ctrl.singlePageUrl()}}/{{cr}}"> {{ctrl.conf.fr[cr].frn}}</a>
                |
            </span>
        </span>
    </div>
    <span class="w3-tiny w3-right"> #{{ctrl.singlePageUrl().split('/').length-1}} </span>
    <span class="w3-right w3-tiny">
        <a href="/f/sql/01/i.html#!/sql/{{ctrl.conf.fr[ctrl.singlePageLastUrl()].sql_app}}">
            sql-tree
        </a>
    </span>

    <span class="w3-tiny"> seek Re | ed body </span>
    <div class="w3-hover-shadow" data-ng-repeat="r in dataSqlRequest.list"
        data-ng-class="{'w3-light-gray':r[ctrl.singlePage.LastUrlIdName()]==ctrl.singlePage.LastUrlId()}">
        <button data-ng-click="ctrl.keep2back(r)" class="w3-btn w3-padding-small "> <i
                class="far fa-share-square fa-flip-horizontal"></i> </button>
        <span data-am:rs:row data-ng-click="ctrl.clickAmRsRow(r)">
            Draft({{$index}})
            <span title="mn:{{r.medication_id}}">
                {{r.substance_code}}
                <span title="ro:{{r.strength_id}}" data-ng-if="r.strength_id">
                    <span title="n_qy:{{r.n_quantity_id}}">
                        {{r.n_quantity_value}}
                        {{r.n_quantity_code}}
                    </span>
                    /
                    <span title="d_qy:{{r.n_quantity_id}}">
                        {{r.dn_quantity_value}}
                        {{r.dn_quantity_code}}
                    </span>
                </span>
            </span>
        </span>
    </div>
    &nbsp;
</div>