<!DOCTYPE html>
<html lang="uk-UA">
<meta charset="utf-8" />
<link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<script src="/webjars/angular/1.8.3/angular.min.js" type="application/javascript"></script>
<script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
<script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
<script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
<script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
<script src="/f/kassa2r/lib-init.js" type="application/javascript"></script>
<script src="/f/kassa2r/config.sql.js" type="application/javascript"></script>

<script src="r1.js" type="application/javascript"> </script>

<body>
    <div class="w3-container am-max-width-1">
        <div class="w3-border-bottom">
            <a href="/" class="w3-btn w3-border w3-padding-small w3-small">↑</a>
            <span class="w3-small am-b">Список</span>&nbsp;⁙
            <a href="r1tab.html">r1tab</a>
        </div>
        list library
        <div class="w3-row w3-border-top">
            <div data-ng-controller="L1Ctrl as ctrl" class="w3-half">
                list1 hover
                <span class="w3-dropdown-hover">
                    <input class="w3-border" data-ng-model="ctrl.seek" style="width: 75px;">
                    <div class="w3-dropdown-content w3-card" data-ng-include="'bloodgroup-list.html'"></div>
                </span>
                click
                <span class="w3-dropdown-click">
                    <input class="w3-border" data-ng-model="ctrl.seek" style="width: 75px;"
                        data-ng-click="ctrl.dropdownClick=!ctrl.dropdownClick">
                    <div class="w3-dropdown-content w3-card" data-ng-class="{'w3-show':ctrl.dropdownClick}"
                        data-ng-include="'bloodgroup-list.html'">
                        a2
                    </div>
                </span>
            </div>
            <div data-ng-controller="L2Ctrl as ctrl" class="w3-half w3-border-left w3-container">
                list2
                <select data-ng-model="ctrl.bloodgroup.value" class="w3-border">
                    <option data-ng-repeat="bloodgroupvalue in ctrl.bloodgroup.list" value="{{bloodgroupvalue.Id}}">
                        {{bloodgroupvalue.Name}}</option>
                </select>
            </div>
        </div>
        <div class="w3-row w3-border-top">
            <div data-ng-controller="L2Ctrl as ctrl" class="w3-half">
                list3
                <input class="w3-border" data-ng-model="ctrl.seek" data-ng-focus="ctrl.viewList=!ctrl.viewList"
                    data-ng-click="ctrl.bloodgroup.clickCount=ctrl.bloodgroup.clickCount+1"
                    data-ng-b1lur="ctrl.viewList=false">
                {{ctrl.viewList}}
                <div data-ng-if="ctrl.viewList" class="w3-leftbar w3-card">
                    <span class="w3-tiny am-b"> тіло списка </span>|
                    <span data-ng-repeat="b in ctrl.bloodgroup.list">
                        <span class="w3-hover-shadow" data-ng-click="ctrl.bloodgroup.value=b.Id;ctrl.viewList=false"
                            data-ng-class="{'w3-green':ctrl.bloodgroup.value==b.Id}">
                            {{b.Name}}
                        </span>
                        |</span>
                </div>
                <div>
                    text
                    {{ctrl.bloodgroup.value}}
                    /
                    {{ctrl.bloodgroup.clickCount}}
                </div>
            </div>
            
            <div data-ng-controller="L3Ctrl as ctrl" class="w3-half w3-border-left w3-container">
                list4
                <input class="w3-border" data-ng-model="ctrl.seek" data-ng-focus="ctrl.viewList=!ctrl.viewList"
                    data-ng-keydown="[13].includes($event.keyCode) && ctrl.click_spcontragent_seek()">
                <div data-ng-if="ctrl.viewList" class="w3-leftbar w3-card">
                    <div class="w3-tiny am-b"> тіло списка </div>
                    <div data-ng-repeat="d in ctrl.data.list" class="w3-hover-shadow">
                        {{d.namecontr}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>