<div class="w3-tiny" style="width: 180px">
    <div>
        <a href="#" ng-click="ctrl.content_menu.upElement(el)" title="догори" class="w13-bar-item w3-button"><i
                class="fas fa-caret-up"></i></a> <a href="#" ng-click="ctrl.content_menu.downElement(el)" title="донизу"
            class="w13-bar-item w3-button"><i class="fas fa-caret-down"></i></a>
        | <a href="#" ng-click="ctrl.content_menu.addElement(el)" title="Додати запис" class="w3-button"><i
                class="fa fa-plus"></i></a>
        <a href="#" ng-click="ctrl.content_menu.minusElement(el)" title="Видалити запис" class="w3-button"><i
                class="fa fa-minus"></i></a>
    </div>
    <div class="w3-border-top">
        <i class="fas fa-edit w3-text-blue w3-btn" data-ng-click="ctrl.content_menu.subSepMenuName = null"></i>
        <i class="fas fa-edit w3-btn" title="Редагувати назву поля"
            data-ng-click="ctrl.content_menu.typeElement('name',adnId)"></i>
        <div data-ng-include="'adn_editor.html'"
         class="w3-dropdown-content w3-card-4 w13-container w3-leftbar"
            data-ng-if="ctrl.content_menu.subSepMenuName.split('_')[1]==adnId">
        </div>
    </div>
</div>