<div class="w3-tiny" style="width: 180px">
    <div>
        <a href="#" ng-click="ctrl.content_menu.upElement(el)" title="догори" class="w13-bar-item w3-button"><i
                class="fas fa-caret-up"></i></a> <a href="#" ng-click="ctrl.content_menu.downElement(el)" title="донизу"
            class="w13-bar-item w3-button"><i class="fas fa-caret-down"></i></a>
        | <a href="#" ng-click="ctrl.content_menu.addElement(el)" title="Додати запис" class="w3-button"><i
                class="fa fa-plus"></i></a>
        <a href="#" ng-click="ctrl.content_menu.minusElement(el)" title="Видалити запис" class="w3-button"><i
                class="fa fa-minus"></i></a>
    </div>
    <div class="w3-border-top">
        <i class="fas fa-edit w3-text-blue w3-btn" data-ng-click="ctrl.content_menu.subSepMenuName = null"></i>
    </div>
</div>
