<!DOCTYPE html>
<html data-ng-controller="InitPageController as ctrl" lang="uk-UA">
<meta charset="utf-8" />
<title>CQL01</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css">

<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<script src="/webjars/angular/1.8.2/angular.min.js" type="application/javascript"></script>
<script src="/webjars/angular-i18n/1.8.2/angular-locale_uk-ua.js" type="application/javascript"></script>
<script src="/webjars/angular-sanitize/1.8.2/angular-sanitize.min.js" type="application/javascript"></script>
<script src="/webjars/angular-route/1.8.2/angular-route.min.js" type="application/javascript"></script>
<script src="/webjars/angular-resource/1.8.2/angular-resource.min.js" type="application/javascript"></script>
<script src="/f/js/algoritmed.AngularJS.lib01.js"></script>
<script src="i.js"></script>

<body class="w3-container am-max-width-1">
    <div class="w3-border-bottom">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <img src="/f/img/algoritmed-logo.webp" width="75px;" />
        <span class="am-b w3-small">CQL01</span>:
    </div>

    <div class="w3-row">
        <div class="w3-twothird">
            <img style="margin-left: 8px;" src="/f/css/sq9.svg" width="15">
            <img data-ng-click="ctrl.conf.sqlInsert=null" style="margin-right: 7px; margin-top: 3px;"
                src="/f/css/sq9g.svg" width="21" class="w3-right">
            <button class="fa-solid fa-marker w3-btn w3-padding-small"
                data-ng-click="ctrl.getSqlApp(ctrl.conf.sqlAppKey).buildSQL()"
                data-ng-class="{'w3-disabled':!ctrl.getSqlApp(ctrl.conf.sqlAppKey).buildSQL}">
                <span class="w3-tiny">write sql</span>
            </button>
            〉
            <button class="fa-solid fa-floppy-disk w3-btn w3-padding-small" data-ng-click="ctrl.saveSqlInsert1()"
                data-ng-class="{'w3-disabled':ctrl.getSqlApp(ctrl.conf.sqlAppKey).noSave || !ctrl.conf.sqlInsert}">
                <span class="w3-tiny">save db</span>
            </button>
            <div class="w3-border-left w3-border-top" data-ng-if="ctrl.conf.sqlInsert">
                <pre class="w3-tiny " style="padding-left: 6px;">
{{ctrl.conf.sqlInsert}}</pre>
            </div>
            <div data-ng-include="'table01.html'"></div>
        </div>
        <div class="w3-third w3-border-left">
            <div style="margin-bottom: 3px;" class="w3-small am-b w3-border-bottom">
                CQL command
                <span class="w3-right">
                    <a href="https://www.compart.com/en/unicode/U+232A" class="am-0u"> 〉 </a>
                </span>
            </div>

            <div data-ng-repeat="sqlApp in ctrl.getSqlApp('keys')()" data-ng-if="ctrl.getSqlApp(sqlApp).name"
                data-ng-class="{'w3-border':ctrl.conf.sqlAppKey==sqlApp}" data-ng-click="ctrl.exeSql(sqlApp)"
                class="w3-hover-shadow">
                {{ctrl.getSqlApp(sqlApp).name}}
            </div>
        </div>
    </div>
</body>

</html>