k:
<div class="w3-dropdown-click">
    <input class="w3-border" data-ng-focus="cr.pl.openDialog='seekList'" data-ng-keypress="cr.pl.seekDo($event)">
    <div data-ng-class="{'w3-show':cr.pl.openDialog=='seekList'}" class="w3-dropdown-content w3-border w3-leftbar">
        <button class="w3-right w3-hover-shadow w3-border-bottom w3-btn w3-padding-small"
            data-ng-click="cr.pl.openDialog=null"> ✕ </button>
        <i class="w3-small fa-solid fa-magnifying-glass"></i>
        <a href="#">
            <div class="w3-hover-shadow">
                sdf 123
            </div>
        </a>
        <a href="#">
            <div class="w3-hover-shadow">
                sdf 234
            </div>
        </a>
        &nbsp;
    </div>
</div>
<button class="w3-btn w3-padding-small" data-ng-click="cr.pl.openDialog=null">OK</button>
