<div class="w3-row">
    <div class="w3-twothird">
        <img style="margin-left: 8px;" src="/f/css/sq9.svg" width="15" class="w3-hover-shadow">
        <img data-ng-click="cr.pl.conf.sqlInsert=null" style="margin-right: 7px; margin-top: 3px;" src="/f/css/sq9g.svg"
            width="21" class="w3-right">
        <span class="w3-tiny am-i" style="opacity: 0.5;">
            mbCQL-SQL
        </span>
        <button class="fa-solid fa-marker w3-btn w3-padding-small"
            data-ng-click="cr.pl.getSqlApp(cr.pl.conf.sqlAppKey).buildSQL()"
            data-ng-class="{'w3-disabled':!cr.pl.getSqlApp(cr.pl.conf.sqlAppKey).buildSQL}">
            <span class="w3-tiny">write sql</span>
        </button>
        〉
        <button class="fas fa-database w3-btn w3-padding-small" data-ng-click="cr.saveSqlInsert1()"
            data-ng-class="{'w3-disabled':cr.pl.getSqlApp(cr.pl.conf.sqlAppKey).noSave || !cr.pl.conf.sqlInsert}">
            <span class="w3-tiny">save db</span>
        </button>
        <div class="w3-border-left w3-border-top" data-ng-if="cr.pl.conf.sqlInsert">
            <pre class="w3-tiny " style="padding-left: 6px;">
{{cr.pl.conf.sqlInsert}}</pre>
        </div>
        <div data-ng-include="'table01.html'"></div>
    </div>
    <div class="w3-third w3-border-left">
        <div style="margin-bottom: 3px;" class="w3-small am-b w3-border-bottom">
            CQL command
            <span class="w3-right">
                <a href="https://www.compart.com/en/unicode/U+232A" class="am-0u"> 〉 </a>
            </span>
        </div>
        <a href="#!/sql_{{sqlApp}}" data-ng-repeat="sqlApp in cr.pl.getSqlApp('keys')()" class="am-0u"
            data-ng-if="cr.pl.getSqlApp(sqlApp).name">
            <div class="w3-hover-shadow" data-ng-class="{'w3-border':cr.pl.conf.sqlAppKey==sqlApp}">
                {{cr.pl.getSqlApp(sqlApp).name}}
            </div>
        </a>
    </div>
</div>
<div class="w3-border-top">
    <i class="fa-solid fa-shapes w3-btn w3-padding-small"></i>
    <span data-ng-include="'seekUpdate.html'"></span>
</div>
<div class="w3-border-top">
    <i class="fas fa-project-diagram w3-btn w3-padding-small"></i>
    <span data-ng-if="cr.pl.conf.treeFn.url().length>1" class="w3-right w3-opacity w3-tiny am-b">
        <a href="/f/mdm/1/i.html#!/tree_{{cr.pl.conf.treeFn.url()}}">
            M&D-M</a> <sub> MCrDB </sub>
    </span>
    <div class="w3-row">
        <div class="w3-half" s1tyle="height: 60vh; overflow: auto;" data-ng-repeat="lr in ['l','r']"
            data-ng-class="{'w3-topbar':lr==ctrl.singlePage.session.selectedLR}">
            <div data-ng-include="'treeADN.html'" data-ng-repeat="(k,adnId) in cr.pl.session.tree[lr].id">
            </div>
        </div>
    </div>
</div>
<div class="w3-border-top">
    <!--
        <i class="fa-solid fa-cubes-stacked w3-btn w3-padding-small"></i>
    -->
    🧊
    <span class="w3-dropdown-hover w3-white">a1
        <div class="w3-dropdown-content w3-border">a2</div>
    </span>
</div>