<div>
    <span class="w3-small am-b" data-ng-if="ctrl.conf.sqlAppKey">
        {{ctrl.conf.sqlAppKey}}:</span>&nbsp;
    {{ctrl.getSqlApp(ctrl.conf.sqlAppKey).name}}
    <table data-ng-repeat="tableName in ['table01', 'table02']">
        <thead>
            <tr>
                <th class=" w3-hover-shadow w3-border w3-tiny" data-ng-repeat="(k,v) in ctrl.conf[tableName][0]">
                    {{k}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="w3-hover-shadow" data-ng-repeat="row in ctrl.conf[tableName]" data-ng-click="ctrl.clickRow(row)"
                data-ng-class="{'w3-light-gray':ctrl.conf.clickRow.doc_id==row.doc_id}">
                <td class="w3-border-right" data-ng-repeat="(k,v) in row">
                    {{v}}
                </td>
            </tr>
        </tbody>
    </table>
</div>