<div class="w3-container w3-display-middle w3-half w3-border w3-border-dark-grey w3-padding">
        <div class="w3-row">
            <p>При створенні нового конфігуратора дані вже відкритого будуть не доступні. Підтвердіть свійвибір.</p>
        </div>
        <div class="w3-row ">
            <div class="w3-btn w3-border w3-border-dark-grey w3-half" data-ng-click="ctrl.templateView='newConfiguratorName'">Так</div>
            <div class="w3-btn w3-border w3-border-dark-grey w3-half" data-ng-click="ctrl.templateView=''">Ні</div>
        </div>
</div>