<div class="w3-container w3-gray" style="overflow-y: scroll">
    <div  class="w3-row w3-padding-small">
        <div class="w3-col m6 16 w3-padding-small">
            <div class="w3-row w3-padding-small"><label class="w3-col m5 15">Ідентифікатор</label> <input type="text" class="w3-col m7 17"></div>
            <div class="w3-row w3-padding-small"><label class="w3-col m5 15">Коментар</label> <input type="text" class="w3-col m7 17"></div>

            <div class="w3-row w3-padding-small"><label class="w3-col m5 15">Кількість рівнів</label> <input type="number" class="w3-col m2 12"> </div>
            <div class="w3-row w3-padding-small"><label class="w3-col m5 15">Довжина коду</label> <input type="number" class="w3-col m2 12"></div>
            <div class="w3-row w3-padding-small"><label class="w3-col m5 15">Довжина найменування</label> <input type="number" class="w3-col m2 12"></div>
        </div>
        <div class="w3-col m6 16 w3-padding-small">
            <div class="w3-row w3-padding-small"><label class="w3-col m5 15">Підпорядкований</label><select>
                <option>(Не підпорядковано)</option>
            </select></div>
            <div class="w3-row w3-padding-small "> <label class="w3-col m5 15">Синонім</label> <input type="text"class="w3-col m7 17" ></div>
            <div class="w3-row w3-padding-small w3-border-bottom w3-border-dark-gray"><label class="w3-col m5 15">Дозволяти групи зверху</label> <input type="checkbox"  checked></div>
            <div class="w3-row w3-padding-small w3-border-bottom w3-border-dark-gray"><label class="w3-col m5 15">Автоматична нумерація</label> <input type="checkbox"  checked></div>
            <div class="w3-row w3-padding-small w3-border-bottom w3-border-dark-gray"><label class="w3-col m5 15">Контроль унікальності</label> <input type="checkbox"  checked></div>
        </div>
    </div>
    <div class="w3-row w3-padding-small">
        <div class="w3-col m6 16 w3-padding-small">
            <div class="w3-row w3-border w3-border-dark-gray">
                <label class="w3-padding-small" >Серії кодів</label>
                <div class="w3-row w3-padding-small">
                    <input type="radio" name="codList" checked>У всьому довіднику
                </div>
                <div class="w3-row w3-padding-small">
                    <input type="radio" name="codList">В межах підпорядкування
                </div>
            </div>
            <div class="w3-row w3-border w3-border-dark-gray">
                <label class="w3-padding-small" >Тип коду</label>
                <div class="w3-row w3-padding-small">
                    <input type="radio" name="codType" checked>Числовий
                </div>
                <div class="w3-row w3-padding-small">
                    <input type="radio" name="codType">Текстовий
                </div>
            </div>
            <div class="w3-row w3-border w3-border-dark-gray">
                <label class="w3-padding-small" >Основне представлення</label>
                <div class="w3-row w3-padding-small">
                    <input type="radio" name="mainView" checked>У вигляді коду
                </div>
                <div class="w3-row w3-padding-small">
                    <input type="radio" name="mainView">У вигляді наіменування
                </div>
            </div>
        </div>
        <div class="w3-col m6 16 w3-padding-small w3-border w3-border-dark-gray">
            <label >Реквізити</label>
            <div class="w3-row ">
                <div class="w3-col m10 110 w3-padding-small ">
                    <div class="w3-container w3-white " style="min-height: 170px"></div>
                </div>
                <div class="w3-col m2 12 w3-padding-small">
                    <div class="w3-row"><a class="w3-btn w3-dark-gray" href=""><i class="fas fa-long-arrow-alt-up"></i></a></div>
                    <div class="w3-row"><a class="w3-btn w3-dark-gray" href=""><i class="fas fa-long-arrow-alt-down"></i></a></div>
                </div>
            </div>
            <div class="w3-row w3-margin-top">
                <a class="w3-btn w3-dark-gray w3-col m4 14 w3-padding-small w3-margin-bottom" href="">Новий</a>
                <a class="w3-btn w3-dark-gray w3-col m4 14 w3-padding-small w3-margin-bottom" href="">Змінити</a>
                <a class="w3-btn w3-dark-gray w3-col m4 14 w3-padding-small w3-margin-bottom" href="">Видалити</a>
            </div>
        </div>
    </div>
    <div class="w3-row w3-padding-small">
        <div class="w3-col m6 16">
            <div class="w3-row">
                <input type="checkbox" >Одна форма для елемента і групи
            </div>
        </div>
        <div class="w3-col m6 16">
            <label class="w3-col m5 15">Редагувати:</label>
            <select class="w3-col m7 17">
                <option>sfsdf</option>
            </select>
        </div>
    </div>
    <div class="w3-row w3-padding-small">
        <a class="w3-btn w3-dark-gray w3-col m3 13 w3-padding-small w3-margin-bottom" href="">Описання</a>
        <a class="w3-btn w3-dark-gray w3-col m3 13 w3-padding-small w3-margin-bottom" href="">Форма елемента</a>
        <a class="w3-btn w3-dark-gray w3-col m3 13 w3-padding-small w3-margin-bottom" href="">Форма групи</a>
        <a class="w3-btn w3-dark-gray w3-col m3 13 w3-padding-small w3-margin-bottom" href="">Форми списка</a>
    </div>
</div>