<div class="w3-container ">
    <div class="w3-row w3-padding-16">Конструцтор </div>
    <div class="w3-row w3-padding-16">
        <div class="w3-col m9 19">
        <div> <label class="w3-col m5 15">Ідентифікатор</label> <input type="text" class="w3-col m7 17" data-ng-model="ctrl.newElementObject.name" ></div>
        <div> <label class="w3-col m5 15">Синонім</label> <input type="text"class="w3-col m7 17" ></div>
        <div> <label class="w3-col m5 15">Коментар</label> <input type="text" class="w3-col m7 17"></div>
        </div>
    </div>
    <div class="w3-row w3-border w3-border-gray w3-padding-16">
        <div class="w3-col m9 19">
        <div class="w3-container">Обов'язково вкажіть ідентифікатор довідника.В поле "Коментар" можна ввести пояснюючу інформацію</div>
        </div>
    </div>
    <div class="w3-row w3-border-bottom w3-border-gray w3-padding-16">
        <div class="w3-col m9 19">
            <input type="checkbox"  checked> Використати конструктор для створення нових об'єктів
        </div>
    </div>
    <div class="w3-row w3-padding-16">
        <div class="w3-col m9 19">
            <div class="w3-btn w3-gray  w3-disabled" >< Назад </div>
            <div class="w3-btn w3-gray" data-ng-click="ctrl.nextViewOfNewElement()" >Далі ></div>
            <div class="w3-btn w3-gray w3-disabled" >Готово</div>
            <div class="w3-btn w3-gray" data-ng-click="ctrl.cancel()">Відміна</div>
            <div class="w3-btn w3-gray" >Допомога</div>
        </div>
    </div>

</div>