<div class="w3-container ">
    <div class="w3-row w3-padding-16">Конструцтор </div>
    <div class="w3-row w3-padding-16">
        <div class="w3-col m9 19">
        <div> <label class="w3-col m5 15">Ідентифікатор</label> <input type="text" class="w3-col m7 17"></div>
        <div> <label class="w3-col m5 15">Синонім</label> <input type="text"class="w3-col m7 17" ></div>
        <div> <label class="w3-col m5 15">Коментар</label> <input type="text" class="w3-col m7 17"></div>
        </div>
    </div>
    <div class="w3-row w3-border w3-border-gray w3-padding-16">
        <div class="w3-col m9 19">
        <div class="w3-container">Обов'язково вкажіть ідентифікатор довідника.В поле "Коментар" можна ввести пояснюючу інформацію</div>
        </div>
    </div>
    <div class="w3-row w3-border-bottom w3-border-gray w3-padding-16">
        <div class="w3-col m9 19">
            <input type="checkbox"  checked> Використати конструктор для створення нових об'єктів
        </div>
    </div>
    <div class="w3-row w3-padding-16">
        <div class="w3-col m9 19">
            <a class="w3-btn w3-gray"  href="">< Назад </a>
            <a class="w3-btn w3-dark-gray" href="">Далі ></a>
            <a class="w3-btn w3-gray" href="">Готово</a>
            <a class="w3-btn w3-dark-gray" href="">Відміна</a>
            <a class="w3-btn w3-dark-gray" href="">Допомога</a>
        </div>
    </div>

</div>