<div class="w3-container ">
    <div class="w3-row">
    </div>
    <div class="w3-row">Конструктор general</div>
    <div class="w3-row">
        <div class="w3-col m9 19">
            <div class="w3-bar">
                <button class="w3-bar-item w3-button" data-ng-click="ctrl.openContext('general')">Загальні </button>
            </div>
            <div id="general" class="w3-container content">
                <div> <label class="w3-col m5 15">Ідентифікатор</label> <input type="text" class="w3-col m7 17"
                        data-ng-model="ctrl.selectedItemInConstructSettings.value_1_22">
                    </div>
                <div> <label class="w3-col m5 15">Синонім</label> <input type="text" class="w3-col m7 17"></div>
                <div> <label class="w3-col m5 15">Коментар</label> <input type="text" class="w3-col m7 17"></div>
                <div> <label class="w3-col m5 15">Тип значення</label>
                    <select class="w3-col m7 17" 
                    data-ng-model="ctrl.selectedItemInConstructSettings.doctype"
                    data-ng-change="ctrl.isChangeSelecDocType=true;"
                    data-ng-value="{{ctrl.NameDocTypeFnRet.getDocTypeName(ctrl.selectedItemInConstructSettings.doctype)}}">
                    <option data-ng-value="null">
                        &lt;&lt;Невизначений&gt;&gt;
                    </option>
                <option data-ng-repeat="doc_type_value in ctrl.docTypeArr" 
                data-ng-value="doc_type_value.doctype_id">
                    &lt;&lt;{{doc_type_value.doctype}}&gt;&gt;
                </option>
                    </select>
                </div>
                <div>
                    <label class="w3-col m5 15">Підпорядкований</label>
                    <select class="w3-col m7 17" 
                    data-ng-model="ctrl.selectedItemInConstructSettings.reference"
                    data-ng-value="{{ctrl.selectedItemInConstructSettings.reference}}"
                    data-ng-change="ctrl.isChangeSelectParent=true">
                    <option data-ng-value="null">
                        &lt;&lt;Невизначений&gt;&gt;
                    </option>
                    <option style="overflow: hidden;"
                    data-ng-if="childrenOfParentParent.reference2 == 371833"
                    data-ng-repeat="childrenOfParentParent in ctrl.eMap[ctrl.eMap[ctrl.selectedItemInConstructSettings.parent].parent].children "
                    data-ng-value="childrenOfParentParent.doc_id">
                    {{childrenOfParentParent.value_1_22}}
                    </option>
                    </select>
                </div>
                <!-- <div><label class="w3-col m5 15">Підпорядкований</label>
                    <select class="w3-col m7 17" data-ng-model="ctrl.selectedItemInConstructSettings.reference"
                    data-ng-change="ctrl.isChangeSelectParent=true">
                    <option data-ng-if="!ctrl.selectedItemInConstructSettings.reference"
                    data-ng-value="null">
                    &lt;&lt;Не підпорядкований&lt;&lt;
                </option>
                    <option data-ng-if="ctrl.selectedItemInConstructSettings.reference"
                    data-ng-value="ctrl.selectedItemInConstructSettings.reference">
                {{ctrl.eMap[ctrl.selectedItemInConstructSettings.reference].value_1_22}}
                </option>

                    
                    <option style="overflow: hidden;"
                    data-ng-if="childrenOfParentParent.reference2 == 371833"
                    data-ng-repeat="childrenOfParentParent in ctrl.eMap[ctrl.eMap[ctrl.selectedItemInConstructSettings.parent].parent].children "
                    data-ng-value="childrenOfParentParent.doc_id"
                    >
                    {{childrenOfParentParent.value_1_22}}
                    </option>
                </div> -->
            </div>
            <div id="additional" class="w3-container content" style="display:none"></div>
            <div id="rights" class="w3-container content" style="display:none"></div>
            <div id="migrations" class="w3-container content" style="display:none"></div>
        </div>
        <div class="w3-col m3 13">
            <button type="submit" ng-click="ctrl.save_data();ctrl.isShow=false">OK</button>
            <button type="reset" data-ng-click="ctrl.isShow=false">Відмінити</button>

        </div>
    </div>
</div>