<div class="w3-container w3-display-middle w3-half w3-border w3-border-dark-grey w3-padding">
    <div class="w3-row-padding">
        <p>Введіть назву конфігуратора</p>
    </div>
    <div class="w3-row-padding ">
        <p><label> Назва</label><input data-ng-model="ctrl.newConfigeratorModel.name"></p>
    </div>
    <div class="w3-row-padding">
        <div class="w3-btn w3-border w3-border-dark-grey w3-twothird "
            data-ng-click="ctrl.templateView='';ctrl.createNewConfigurator()">Підтвердити</div>
    </div>
</div>