<div data-ng-switch="ctrl.templateView">
    <div data-ng-switch-when="Construct">
        <div ng-include="'templates/Construct.html'"></div>
    </div>
    <div data-ng-switch-when="ConstructSettings">
        <div ng-include="'templates/ConstructSettings.html'"></div>
    </div>
    <div data-ng-switch-when="General">
        <div ng-include="'templates/General.html'"></div>
    </div>
    <div data-ng-switch-when="newElementConstructor">
        <div ng-include="'templates/newElementConstructor.html'"></div>
    </div>
    <div data-ng-switch-when="confirmNewConfigurator">
        <div ng-include="'templates/confirmNewConfigurator.html'"></div>
    </div>
    <div data-ng-switch-when="newConfiguratorName">
        <div ng-include="'templates/newConfiguratorName.html'"></div>
    </div>
    <div data-ng-switch-when="refToNewConfigurator">
        <div ng-include="'templates/refToNewConfigurator.html'"></div>
    </div>
    <div data-ng-switch-when="AllConfiguratorView">
        <div ng-include="'templates/AllConfiguratorView.html'"></div>
    </div>
    <div data-ng-switch-default="">
        <div ng-include="'templates/emptyHTML.html'"></div>
    </div>
</div>