<html xmlns:th="https://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/f/css/w3.css" type="text/css">
    <link rel="stylesheet" href="/f/css/am.css" type="text/css">
</head>
<body class="w3-container">

	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/r/storage">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input type="file" name="file" class="w3-btn w3-border"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" class="w3-btn w3-border" /></td>
				</tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>

</html>