<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Приклад сторінки 2</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="/webjars/angularjs/1.8.0/angular.min.js"></script>
<script src="/webjars/angularjs/1.8.0/i18n/angular-locale_uk-ua.js"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
</head>
<body class="w3-container">
	<p>
		<span
			th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"
			th:remove="tag"></span>
	</p>
	<div th:text="${name}"></div>
</body>
</html>