<div>
    <span class="w3-tiny am-b"> План-сценарій: </span> {{r.value}}
    <div data-ng-repeat="an7tl in ctrl.conf.FHIR.pd.currEl.sql_app_children.PlanDefinition_action_title">
        <span data-ng-class="{'w3-topbar':an7tl.title_id==ctrl.singlePage.UrlMap()['ad']}"
            class="w3-tiny w3-grey">
            action-{{an7tl.title_id}}</span>
        <a data-ng-class="{'w3-border-top':an7tl.title_id==ctrl.singlePage.UrlMap()['ad']}"
            href="#!{{ctrl.singlePage.ClickTagHref('ad', an7tl.title_id)}}" class="am-0u w3-hover-shadow">

            {{an7tl.action_title}}</a>
        <!--
            <span data-ng-click="ctrl.clickActionTitle(an7tl)" class="w3-hover-shadow">{{an7tl.action_title}}</span>
        -->
        <div class="w3-card w3-leftbar"
            data-ng-if="an7tl.title_id ==
        ctrl.singlePage.X_UrlId(ctrl.singlePage.TagPosition(ctrl.conf.FHIR.pd.sql_app_children.PlanDefinition_action_title.frKey))">
            <div data-ng-repeat="anad in ctrl.conf.FHIR.pd.currEl.sql_app_children.pd_action_ActivityDefinition_title_name"
                data-ng-if="an7tl.title_id==anad.parent">
                <span class="w3-tiny am-b"> {{anad.ad_title}} : </span>
                {{anad.ad_name}}
                <div>
                    <pre class="w3-small w3-card">
{{ctrl.getSql('action_task_1').sqlCmdMap[ctrl.singlePage.UrlMap()['ad']].taskinputvalue}}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>