<div class="w3-row">
    <div class="w3-third w3-border-right">
        <div data-ng-if="ctrl.xmlDoc.firstChild.children" class="w3-container w3-border-left">
            <div data-ng-repeat="xId in ctrl.conf.firstListIds" data-ng-init="x = ctrl.conf.elMap[xId]">
                <a href="#!/el_{{x.id}}" data-ng-click="ctrl.am2f.clickAmItem(x)">
                    <div class="w3-hover-shadow" data-ng-class="{'w3-light-gray':ctrl.conf.currentX.id==x.id}">
                        <span class="w3-tiny am-b">{{x.localName}}</span> {{x.getAttribute('name')}}
                    </div>
                </a>
                <div data-ng-if="ctrl.conf.openedFolderList.includes(x.id)" class="w3-container w3-border-left"
                    data-ng-include="'childElements.html'">
                </div>
            </div>
        </div>
    </div>
    <div class="w3-twothird w3-border-left">
        <span class="w3-tiny am-b">
            {{ctrl.conf.currentX.getAttribute('xsi:type').split(':')[1]}}
        </span>
        {{ctrl.conf.currentX.getAttribute('name')}}
        <span data-ng-if="ctrl.conf.currentX">
            {{ctrl.conf.currentX.id}}
            <div data-ng-if="ctrl.conf.currentX.getAttribute('xsi:type')=='archimate:ArchimateDiagramModel'">
                <!--
                <div
                style="background-image: url('/f/archimate/html-regulations-data-model/id-31fd40071bca4a548b9948ddce7b8b18/images/id-7f273c2c266447d989cb8f7eebf63852.png');"
                ></div>
                <div
                ng-style="background-image: url('/f/archimate/html-regulations-data-model/id-31fd40071bca4a548b9948ddce7b8b18/images/{{ctrl.conf.currentX.id}}.png');"
                ></div>
                -->
                <img data-ng-if="ctrl.conf.currentX.id"
                    src="/f/archimate/html-{{ctrl.xmlDoc.firstChild.getAttribute('name')}}/{{ctrl.xmlDoc.firstChild.id}}/images/{{ctrl.conf.currentX.id}}.png">
                <div data-ng-include="'viewContent.html'"></div>
            </div>
        </span>
    </div>
</div>
