<!DOCTYPE html>
<html lang="uk-UA" data-ng-app="myApp" data-ng-controller="InitPageController as ctrl">

<head>
    <meta charset="utf-8" />
    <script src="/webjars/angular/1.8.3/angular.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/f/css/w3.css" type="text/css">
</head>

<body class="w3-container">
    Hello World!

    <div>
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('InitPageController', function ($scope, $http) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $http.get('/r/url_sql_read_db1', { params: { sql: "SELECT * FROM string limit 3" } })
                .then((responce) => {
                    console.log(responce.data)
                })
        });
    </script>
</body>

</html>